@font-face {
  font-family: "Instrument Sans";
  src: url("./Assets/font/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("./Assets/font/Nunito/Nunito-VariableFont_wght.ttf");
}

:root {
  --default-font: "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    sans-serif;
  --heading-font: "Instrument Sans";
  --second-font: "Nunito";
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: inherit;
  height: 100vh;
  font-family: var(--default-font);
  background-color: #ffffff;
  color: black;
}

/* Header css here */
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  padding: 45px 40px;
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #eeeeeee3;
  backdrop-filter: blur(1.5px);
  opacity: 1;
}

/* Club Logo Section */
.club-logo {
  display: flex;
  align-items: center;
}

.club-logo img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.title-logo {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: bold;
  color: #0a2627;
  line-height: 1.2;
}

/* Navigation Elements */
.nav-element {
  display: flex;
  gap: 40px;
  align-items: center;
  z-index: 1000;
}

.nav-list ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-list ul li {
  display: inline;
}

.nav-list ul li a {
  text-decoration: none;
  color: #0a2627;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-list ul li a:hover {
  color: #0e928c;
}

/* CTA Buttons */
#nav-cta-btn {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.join-us-btn,
.donate-btn {
  padding: 5px 16px;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.join-us-btn {
  background-color: transparent;
  color: #0a2627;
  border: 1px solid #0e928c;
  transition: background 0.3s ease;
}

.join-us-btn:hover {
  background-color: #0e928c;
  color: white;
}

.donate-btn {
  background-color: #0e928c;
  color: white;
  border: 1px solid #0e928c;
  transition: background 0.3s ease;
}

.donate-btn:hover {
  background-color: #064e4b;
  border-color: #3c9994;
}

/* Toggle Menu (Mobile) */
.toggle-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 50px 40px;
  background-color: #ffffff;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.045) 1px,
      transparent 0.5px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.045) 1px, transparent 0.5px);
  background-size: 40px 40px;
}

.hero-tag > p {
  font-family: var(--heading-font);
  font-size: 14px;
  font-weight: 600;
  color: #011e20;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #7eb8b6;
  padding: 5px 8px;
  border-radius: 6px;
}

.hero-title > p {
  font-family: var(--heading-font);
  font-size: 50px;
  font-weight: 800;
  color: #011e1f;
  text-align: center;
  margin-bottom: 10px;
}

.hero-description {
  width: 90%;
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: 400;
  color: #5b899b;
  text-align: center;
  margin-bottom: 20px;
}

.hero-stats {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
}

.project-stats,
.member-stats,
.achievement-stats {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  line-height: 20px;
  padding: 10px 20px;
  width: 60%;
  background-color: #011d16;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.count-stats {
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: 700;
  color: #0a2627;
  text-align: center;
}

.stats-name {
  font-family: var(--second-font);
  font-size: 13px;
  font-weight: 400;
  color: #5b899b;
  text-align: center;
  padding: 0px 10px;
  border: 1px solid #1d6e6c;
  border-radius: 4px;
}

.stats-description {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.5px;
}

/* About Section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10rem;
  background-color: #0a2627;
  color: white;
}

.about-section-title {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 500;
  color: #00a0a6;
  text-align: center;
  margin-bottom: 10px;
}

.about-section > p {
  font-family: var(--second-font);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.3px;
}

/* Skill section */
.skills-section {
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  background-color: #ffffff;
}

.skill-section-container {
  padding: 20px 20px;
  width: 100%;
  background-color: #f8faf9;
  border: 2px solid #10947e;
  border-radius: 15px;
  position: relative;
  top: -8rem;
}

.skill-section-title {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 700;
  color: #0a2627;
  text-align: center;
  margin-bottom: 5px;
}

.skill-section-tagline {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 500;
  color: #0a2627;
  text-align: center;
  margin-bottom: 30px;
}

.skill-card {
  width: 100%;
  padding: 20px 20px;
  background-color: #0a2627;
  color: white;
  border-radius: 10px;
  margin-bottom: 15px;
}

.icon {
  margin-bottom: 10px;
}

.skill-section-cards {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}

.skill-card-title {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 400;
}

.skill-paragraph {
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 200;
  color: rgb(214, 214, 214);
  width: 100%;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

/* Testimonial section */
.testimonial-section {
  padding: 50px;
  color: #0a2627;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.testimonial-section.visible {
  opacity: 1;
}

.testimonial-card-container {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12rem;
  background-color: #f1f1f1;
  border: 2px solid #e4e4e4;
  width: 100%;
  transition: opacity 0.5s ease-in;
  border-radius: 6px;
  padding: 8px 10px;
}

.testimonial-card.visible {
  opacity: 1;
}

.testimonial-card-description {
  font-family: var(--second-font);
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.testimonial-card-name {
  margin-top: 10px;
  font-family: var(--heading-font);
  font-size: 13px;
  text-align: start;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#testimonial-card-position {
  font-family: var(--heading-font);
  width: fit-content;
  font-size: 12px;
  font-weight: 400;
  color: #5a5a5a;
}

/* Testimonial and Upcoming Events Section Titles */
.testimonial-section-title,
.upcoming-event-section-title {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4px;
}

.testimonial-section-tagline {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

/* Animations */
.testimonial-card[data-aos="fade-up"] {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.testimonial-card[data-aos="fade-up"].aos-animate {
  opacity: 1;
}


/* Upcoming event section */
.upcoming-event-section{
  padding: 0 50px;
  color: #0a2627;
}

.upcoming-events-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 25px;
  margin-bottom: 15px;
  overflow-x: scroll;
}

.upcoming-events-cards-container::-webkit-scrollbar {
  display: none;
}

#upcoming-event-card{
  width: 20rem;
  height: fit-content;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #ebebeb;
}

#upcomming-event-image{
  width: 100%;
  height: 10rem;
  background-color: white;
  border-radius: 10px;
}

#upcoming-event-details{
  margin-top: 15px;
}

#upcoming-event-detail-title{
  font-family: var(--heading-font);
  margin-bottom:5px;
}

#upcoming-event-detail-description{
  font-size: 13px;
  font-family: var(--second-font);
  margin-bottom: 15px;
}

.upcoming-events-specific-details{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-family: var(--heading-font);
  color: #202020;
  margin: 3px 0px;
}

#upcoming-event-view-more-event-btn{
  margin-top: 15px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: #011516;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: var(--heading-font);
  cursor: pointer;
}


/* Footer */
footer {
  background-color: #f0f0f0;
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-column {
  width: fit-content;
  padding: 10px 40px;
}

.footer-column h3 {
  margin-bottom: 12px;
  font-family: var(--heading-font);
  font-size: 1.2em;
  font-weight: 500;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-column a {
  text-decoration: none;
  color: #333;
}

.social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-icons a i:hover {
  color: #00a0a6;
}
.admin {
  margin-top: 2rem;
  font-size: 18px;
}

#newsletter {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  margin-top: 15px;
  border: 1px solid #032b2c;
  font-family: var(--heading-font);
  font-size: 14px;
}

#newsletter-btn {
  width: 100%;
  margin-top: 8px;
  border-radius: 20px;
  border: 1px solid #021e1f;
  padding: 5px;
  font-size: 16px;
  font-family: var(--second-font);
  background-color: #011516;
  color: #c5d6d6;
  cursor: pointer;
}

#developed-by {
  font-size: 16px;
  font-family: var(--heading-font);
}

#developed-by:hover i {
  color: red;
  filter: drop-shadow(1px 1px 5px red);
}

.copyright {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  font-size: 0.9em;
  font-family: var(--heading-font);
}
