@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gruppo&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Send+Flowers&display=swap');

:root {
    --default-font: "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    --heading-font: "Nunito";
    --second-font: "Nunito";
}




/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: inherit;
    height: 100vh;
    font-family: var(--default-font);
    background-color: #ffffff;
    color: black;
}

/* Header css here */
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 60px 40px;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    opacity: 0.95;
}

.title-logo {}

/* Club Logo Section */
.club-logo {
    display: flex;
    align-items: center;
}

.club-logo img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.title-logo {
    font-family: var(--heading-font);
    font-size: 18px;
    font-weight: bold;
    color: #0a2627;
    line-height: 1.2;
}

/* Navigation Elements */
.nav-element {
    display: flex;
    gap: 40px;
    align-items: center;
    z-index: 1000;
}

.nav-list ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-list ul li {
    display: inline;
}

.nav-list ul li a {
    text-decoration: none;
    color: #0a2627;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list ul li a:hover {
    color: #0e928c;
}

/* .nav-link.active-link {
    color: #00a0a6; 
    font-weight: bold;
    border-bottom: 2px solid #00a0a6;
  } */

/* CTA Buttons */
#nav-cta-btn {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.join-us-btn,
.donate-btn {
    padding: 5px 16px;
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.join-us-btn {
    background-color: transparent;
    color: #0a2627;
    border: 1px solid #0e928c;
    transition: background 0.3s ease;
}

.join-us-btn:hover {
    background-color: #0e928c;
    color: white;
}

.donate-btn {
    background-color: #0e928c;
    color: white;
    border: 1px solid #0e928c;
    transition: background 0.3s ease;
}

.donate-btn:hover {
    background-color: #064e4b;
    border-color: #3c9994;

}

/* Toggle Menu (Mobile) */
.toggle-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.hero-section {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 50px 40px;
    background-color: #ffffff;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.045) 1px, transparent 0.5px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.045) 1px, transparent 0.5px);
    background-size: 40px 40px;
}

.hero-tag>p {
    font-family: var(--heading-font);
    font-size: 14px;
    font-weight: 600;
    color: #0096A1;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #7eb8b6;
    padding: 5px 20px;
    border-radius: 6px;
}

.hero-title>p {
    font-family: var(--heading-font);
    font-size: 50px;
    font-weight: 800;
    color: #00A0A6;
    text-align: center;
    margin-bottom: 10px;
}

.hero-description {
    width: 90%;
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 400;
    color: #5b899b;
    text-align: center;
    margin-bottom: 20px;
}

.hero-stats {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.project-stats,
.member-stats,
.achievement-stats {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    line-height: 20px;
    padding: 10px 20px;
    width: 60%;

}

.count-stats {
    font-family: var(--heading-font);
    font-size: 20px;
    font-weight: 700;
    color: #0a2627;
    text-align: center;
}

.stats-name {
    font-family: var(--second-font);
    font-size: 12px;
    font-weight: 400;
    color: #5b899b;
    text-align: center;
    padding: 0px 10px;
    border: 1px solid #1d6e6c;
    border-radius: 4px;
}

.stats-description {
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: 400;
    color: #123746;
}

.project-stats:hover,
.member-stats:hover,
.achievement-stats:hover {
    background-color: #d6f1f0;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #0c706b;
    transition: all 0.3s ease-in-out;
    /* transform: scale(1.05); */
}

/* About Section */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10rem;
    background-color: #0a2627;
    color: white;
}

.about-section-title {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
    color: #00A0A6;
    text-align: center;
    margin-bottom: 20px;
}

.about-section>p {
    font-family: var(--heading-font);
    font-size: 1.4rem;
    border-left: 4px solid #538888;
    padding-left: 10px;
}

/* Skill section */
.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.055) 1px, transparent 0.5px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.055) 1px, transparent 0.5px);
    background-size: 40px 40px;
}

.skill-section-container {
    padding: 20px 20px;
    width: 100%;
    background-color: #f8faf9;
    border: 2px solid #109094;
    border-radius: 15px;
    position: relative;
    top: -6rem;
}

.skill-section-title {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
    color: #0a2627;
    text-align: center;
    margin-bottom: 10px;
}

.skill-section-tagline {
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: 400;
    color: #0a2627;
    text-align: center;
    margin-bottom: 40px;
}

.skill-card {
    width: 90%;
    padding: 20px 20px;
    background-color: #0a2627;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.icon {
    margin-bottom: 10px;
}

.skill-section-cards {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    align-items: stretch;
    justify-content: space-between;
}

.skill-card-title {
    font-family: var(--heading-font);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: italic;
}

.skill-paragraph {
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    margin-top: 10px;
}

.skill-card:hover {
    box-shadow: 0 0 10px #0c706b;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}




/* Testimonial section */
.testimonial-section {
    padding: 50px;
    background-color: #0a2627;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.testimonial-section.visible {
    opacity: 1;
}

.testimonial-card-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    background-color: #042c2ea6;
    color: white;
    margin-bottom: 25px;
    width: 90%;
    transition: opacity 0.5s ease-in;
    border-left: 4px solid #538888;
}

.testimonial-card.visible {
    opacity: 1;
}

#testimonial-card-description {
    font-family: var(--second-font);
    font-size: 16px;
    text-align: justify;
    width: 100%;
}

.testimonial-card-name {
    margin-top: 10px;
    margin: 5px;
    font-family: var(--heading-font);
    font-size: 15px;
    text-align: start;
}

#testimonial-card-position {
    font-family: var(--second-font);
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    background-color: #123746;
    padding: 5px 10px;
    border-radius: 20px;
}

.testimonial-section-title {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.testimonial-section-tagline {
    font-family: var(--second-font);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

/* Animations */
.testimonial-card[data-aos="fade-up"] {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.testimonial-card[data-aos="fade-up"].aos-animate {
    opacity: 1;
}


/* Profile carousal */
.swipping-profile-section {
    padding: 40px 50px;
    background-color: #ffffff;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.055) 1px, transparent 0.5px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.055) 1px, transparent 0.5px);
    background-size: 40px 40px;
}

.swipping-profile-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
}

.swipping-profile-tagline {
    text-align: center;
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: 500;
}

.carousel-container {
    padding: 30px;
    overflow: hidden;
    margin: 20px auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s linear;
}

.carousel-item {
    position: relative;
    min-width: 230px;
    height: auto;
    background-color: #032b2c;
    margin: 0 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    border: 1px solid #207a86;
    border-radius: 12px;
}

.carousel-item:hover {
    box-shadow: 0 0 12px #085c58;
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
}

.carousel-item:hover>#profile-card-post {
    color: #0e928c;
}

.carousel-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card-name {
    margin: 0;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-family: var(--heading-font);
    font-weight: 600;
    color: white;
}

.profile-card-post {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: #f3efef;
    font-size: 0.9em;
    letter-spacing: 1px;
}

#profile-card-post {
    width: fit-content;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ddd;
    color: #333;
    margin: 0 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-icon:hover a {
    color: #18c8d4;
}

/* Registration Section */
.registration-section {
    padding: 30px 120px;
}

.flex-registration {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #0a2627;
    padding: 20px 60px;
    border-radius: 100px;
    color: white;
}

.registration-right-container,
.registration-left-container {
    width: 100%;
}

#registration-right-text {
    font-size: 12px;
}


/* Director says */
.director-says {
    background-color: #ffffff;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.055) 1px, transparent 0.5px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.055) 1px, transparent 0.5px);
    background-size: 40px 40px;
    padding: 20px 50px;

}

.director-says-title {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.director-says-card>p{
    font-family: var(--second-font);
    font-size: 18px;
}

#director-name{
    font-weight: 800;
}



/* Footer */
footer {
    background-color: #f0f0f0;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-column {
    width: fit-content;
    padding: 10px 40px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-family: var(--heading-font);
    font-size: 1.2em;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-column a {
    text-decoration: none;
    color: #333;
}

.social-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-icons a i:hover {
    color: #00A0A6;
}

#newsletter {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    margin-top: 15px;
    border: 1px solid #032b2c;
    font-family: var(--second-font);
    font-size: 14px;
}

#newsletter-btn {
    width: 100%;
    margin-top: 8px;
    border-radius: 20px;
    border: 1px solid #021e1f;
    padding: 5px;
    font-size: 16px;
    font-family: var(--second-font);
    background-color: #30c0c5;
    color: #032b2c;
    cursor: pointer;
}

#developed-by {
    font-size: 16px;
}

#developed-by:hover i {
    color: red;
    filter: drop-shadow(1px 1px 5px red);
}


.copyright {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    font-size: 0.9em;
}


/* Success overlay */
.success-popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: all 0.3s ease;
}

.success-popup-overlay.hidden {
    display: none;
}

.success-popup-card {
    background: white;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    max-width: 300px;
    animation: slideUp 0.5s ease;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.success-message {
    font-size: 18px;
    font-weight: 600;
    color: #012016;
    margin-top: 15px;
}

/* Tick Animation */
.tick-mark svg {
    width: 80px;
    height: 80px;
    stroke: #012c21;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: showCheck 0.5s ease forwards;
}

.tick-mark .circle {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    animation: drawCircle 0.6s ease forwards;
}

.tick-mark .check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: drawCheck 0.4s 0.6s ease forwards;
}

/* Keyframes */
@keyframes drawCircle {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes drawCheck {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* End of Success overlay */