<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events : Rotaract Club Of TIT & science</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../Assets/Css/about.css" />
    <link rel="stylesheet" href="../Assets/Css/Responsive.css" />
    <link rel="stylesheet" href="../Assets/Css/joinUsOverlay.css" />
    <link rel="stylesheet" href="../Assets/Css/donateOverlay.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
      <header>
        <div class="club-logo">
          <img src="../Assets/Image/RAC-removebg-preview.png" alt="Logo" />
          <p class="title-logo">
            Rotaract Club Of <br />TIT & Science Bhopal, RID3040
          </p>
        </div>

        <nav class="nav-element">
          <div class="nav-list">
            <ul id="nav-list-elements">
              <li><a href="../index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="rotaractor.html">Rotaractors</a></li>
              <li><a href="event.html">Events and Projects</a></li>
              <li><a href="gallery.html">Gallery</a></li>
            </ul>
          </div>
          <hr id="separator" />
          <div id="nav-cta-btn">
            <button
              class="join-us-btn"
              id="showJoinUsFormBtn"
              aria-label="Join Us"
            >
              Join Us
            </button>
            <button class="donate-btn" id="showDonateform" aria-label="Donate">
              <i class="bx bxs-donate-heart"></i>
              Donate
            </button>
          </div>
        </nav>

        <div class="toggle-button" onclick="toggleMenu()">
          <i class="bx bx-menu-alt-right"></i>
        </div>
      </header>

<main>
      <section class="content">
        <div class="about-section-description">
          The <b>Rotaract Club of TIT & Science</b> is an institution-based
          international services club
        </div>


        <div class="about-details">
          <p>
            Established in 2018 under the guidance of visionary leaders who helped shape the Rotaract movement at TIT & Science…
          </p>
          <p>
            The club is sponsored by the Rotary Club of East Bhopal and
              operates under Rotary International District 3040.
          </p>
          <p>
            It was established under the guidance of <b>Dr. Shashi Jain</b>,
              who was the Director of TIT & Science at the time.
          </p>
          <p>
            <b>Rtr. Wassif Khan</b> served as the first president during
              Rotary Year (RY) 2018-19
          </p>
        </div>



        <div class="about-section-flex">
          <div class="about-section-mission">
            <div class="about-icons">
              <i
                class="bx bx-bullseye bx-md"
                style="color: aliceblue; margin-bottom: 10px"
              ></i>
            </div>
            <span class="mission-title">Mission</span>
            <!--  Missin of rotaract club-->
            <p class="mission-description">
              To inspire purposeful service rooted in compassion, cultivate
              transformational leadership among young minds, create a lasting
              and meaningful impact on society, and plant seeds of innovation
              and change that will continue to grow, empowering future
              generations of Rotaractors from TIT & Science and beyond
            </p>
          </div>
          <div class="about-section-vision">
            <div class="about-icons">
              <i
                class="bx bx-infinite bx-md"
                style="color: aliceblue; margin-bottom: 10px"
              ></i>
            </div>
            <span class="vision-title">Vision</span>
            <!-- Vision of rotaract club-->
            <p class="vision-description">
              To build a vibrant community of young leaders at Rotaract Club of
              TIT & Science, dedicated to selfless service, lifelong learning,
              and creating innovative solutions that shape a better tomorrow.
            </p>
          </div>
        </div>

      </section>


</main>


      <footer>
        <div class="footer-container">
          <div class="footer-column">
            <h3>Contact Us</h3>
            <ul>
              <li>
                <i class="bx bxs-envelope bx-md" style="color: #252525"></i
                ><a href="mailto:info@rotaracttitscience.com"
                  >info@rotaracttitscience.com</a
                >
              </li>
              <li>
                <i class="bx bxs-phone-call bx-md" style="color: #252525"></i>
                <p>+91 1234567890</p>
              </li>
              <li>
                <i class="bx bx-map bx-md" style="color: #252525"></i>
                <p>
                  Technocrats Institute Of Technology & Science, Bhopal, Madhya
                  Pradesh, India
                </p>
              </li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Social Media</h3>
            <div class="social-icons">
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><i class="bx bxl-facebook-circle bx-md"></i
              ></a>
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><i class="bx bxl-twitter bx-md"></i
              ></a>
              <a
                href="https://www.instagram.com/rotaractclub_titscience?igsh=ajdueHVqdnB5ZWt0"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bx bxl-instagram-alt bx-md"></i
              ></a>
              <a
                href="https://discord.gg/YjdWancvd9"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bx bxl-discord-alt bx-md"></i
              ></a>
            </div>
          </div>
          <div class="footer-column">
            <h3>About Us</h3>
            <p>
              Rotaract Club of TIT & Science aims to foster leadership and
              service among young adults. We are dedicated to making a positive
              impact in our community.
            </p>
          </div>
        </div>
        <div class="footer-container">
          <div class="footer-column">
            <h3>Resources</h3>
            <ul>
              <li><a href="https://www.rotary.org">Visit Rotary</a></li>
              <li>
                <a href="https://www.rotary.org/en/get-involved/rotaract-clubs"
                  >Know more about Rotaract</a
                >
              </li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Newsletter</h3>
            <p>Subscribe to our newsletter for updates.</p>
            <input
              id="newsletter"
              type="email"
              placeholder="Enter your email"
            />
            <button id="newsletter-btn">Subscribe</button>
          </div>

          <div class="footer-column">
            <p id="developed-by">
              Made with <i class="bx bxs-heart"></i> <br />Designed and
              developed by <b>Praveen Patel</b>
            </p>
          </div>
        </div>
        <div class="copyright">
          &copy; 2025 Rotaract Club Of TIT & Science. All rights reserved.
        </div>
      </footer>

      <!-- Join us overlay -->
      <div id="joinUsformOverlay" class="join-us-overlay">
        <div class="join-us-form-container">
          <button id="closeFormBtn" class="close-btn" aria-label="Close Form">
            &times;
          </button>
          <div class="logo-placeholder">
            <img
              src="/Assets/Image/RAC-removebg-preview.png"
              id="logo-placeholder"
              alt="Logo"
            />
          </div>
          <p class="form-title">Rotaract Club Of TIT & Science</p>
          <p class="tagline">
            Make a difference, grow as a leader. Join Rotaract today!
          </p>
          <form id="joining-form">
            <div class="join-us-form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="What would we call you?"
                required
              />
              <span class="error-message" id="nameError"></span>
            </div>
            <div class="form-group">
              <label for="enrollment-no">Enrollment No:</label>
              <input
                type="text"
                name="enrollmentNo"
                id="enrollment-no"
                placeholder="e.g. 0192CS23XXXX"
                required
              />
              <span class="error-message" id="enrollmentNoError"></span>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="e.g. example@gmail.com"
                required
              />
              <span class="error-message" id="emailError"></span>
            </div>
            <div class="form-group">
              <label for="contact">Contact:</label>
              <input
                type="text"
                name="contact"
                id="contact"
                placeholder="e.g 97XXXXXX25"
                required
              />
              <span class="error-message" id="contactError"></span>
            </div>

            <button type="submit">Submit</button>
          </form>
        </div>
        <div id="toast" class="toast hidden"></div>
      </div>

      <!-- Donate overlay -->
      <div class="donate-overlay" id="showdonationoverlay">
        <div class="donate-overlay-content">
          <div class="overlay-header">
            <img
              src="/Assets/Image/RAC-removebg-preview.png"
              alt="Logo"
              srcset="RAC-removebg-preview.png"
              class="logo"
              draggable="false"
            />
            <span class="close-btn" id="closeDonateFormBtn"> &times; </span>
          </div>

          <div class="flex-overlay">
            <div class="qr-section">
              <div class="qr-img-container">
                <img
                  src="/Assets/Image/qr-code.jpg"
                  alt="QR-Code"
                  class="qr-img"
                  draggable="false"
                />
              </div>
              <div class="account-details-container">
                <div class="details-block">
                  <p class="details-title">
                    <i class="bx bx-user"></i>Account Holder
                  </p>
                  <p class="details">Praveen Kesharvani</p>
                </div>
                <div class="details-block">
                  <p class="details-title"><i class="bx bx-at"></i>UPI ID</p>
                  <p class="details">rotaractcluboftitandscience@ybl</p>
                </div>
                <div class="details-block">
                  <p class="details-title">
                    <i class="bx bxs-user-account"></i>A/c No.
                  </p>
                  <p class="details">0591001700035809</p>
                </div>
                <div class="details-block">
                  <p class="details-title">
                    <i class="bx bxs-bank"></i>IFSC Code
                  </p>
                  <p class="details">PUNB059100</p>
                </div>
              </div>
            </div>

            <div class="form-container">
              <p class="form-title">
                To help us verify your donation, please fill out the form below:
              </p>
              <form id="donation-form" enctype="multipart/form-data">
                <div class="form-group">
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your Email"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="tel"
                    id="phone"
                    name="phone"
                    placeholder="Enter your contact no."
                    required
                  />
                </div>

                <div class="form-group" id="screenshot-container">
                  <i class="bx bx-cloud-upload bx-md">
                    <input
                      type="file"
                      name="screenshot"
                      id="screenshot"
                      accept="image/*"
                      required
                      hidden
                    />
                  </i>
                  <p class="lable-for-screenshot">Drag 'N Drop here</p>
                  <p class="for-screenshot">
                    Please upload the screenshot of payment receipt for
                    confirmation.
                  </p>
                  <p class="upload-here">
                    Upload an image by clicking below <b>Upload here</b>
                  </p>
                </div>

                <div class="button">
                  <button type="submit" class="submit-btn">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="toast" class="toast"></div>
      </div>
      <div id="toast" class="toast"></div>
    

    <!-- Scripts -->
     <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
      integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../Assets/JavaScript/about.js"></script>
    <script src="../Assets/JavaScript/events.js"></script>
    <script src="../Assets/JavaScript/main.js"></script>

    <!-- Overlay script -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const showFormBtn = document.getElementById("showJoinUsFormBtn");
        const formOverlay = document.getElementById("joinUsformOverlay");
        const closeFormBtn = document.getElementById("closeFormBtn");

        showFormBtn.addEventListener("click", function () {
          formOverlay.style.display = "flex";
        });

        closeFormBtn.addEventListener("click", function () {
          formOverlay.style.display = "none";
        });
        formOverlay.addEventListener("click", function (event) {
          if (event.target === formOverlay) {
            formOverlay.style.display = "none";
          }
        });
      });

      document.addEventListener("DOMContentLoaded", function () {
        const showDonateFormBtn = document.getElementById("showDonateform");
        const donateFormOverlay = document.getElementById(
          "showdonationoverlay"
        );
        const closeDonateFormBtn =
          document.getElementById("closeDonateFormBtn");

        showDonateFormBtn.addEventListener("click", function () {
          donateFormOverlay.style.display = "flex";
        });

        closeDonateFormBtn.addEventListener("click", function () {
          donateFormOverlay.style.display = "none";
        });
        donateFormOverlay.addEventListener("click", function (event) {
          if (event.target === donateFormOverlay) {
            donateFormOverlay.style.display = "none";
          }
        });
      });
    </script>

    <!-- Connection establish -->
    <script>
      document
        .getElementById("myForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const name = document.getElementById("name").value;
          const enrollmentNo = document.getElementById("enrollment-no").value;
          const email = document.getElementById("email").value;
          const contact = document.getElementById("contact").value;

          try {
            const response = await fetch("http://localhost:3000/api/join", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ name, enrollmentNo, email, contact }),
            });

            const result = await response.json();

            if (response.ok) {
              showToast(
                result.message ||
                  "Thank you for showing interest! Your form has been submitted successfully.",
                "success"
              );
              document.getElementById("myForm").reset();
              document.getElementById("myForm").style.display = "none";
            } else {
              showToast(
                result.error ||
                  "Oops! Something went wrong. it's not you, it's us.",
                "error"
              );
            }
          } catch (error) {
            console.error("Fetch error:", error);
            showToast("⚠️ Network error. Please try again later.", "error");
          }
        });

      function showToast(message, type) {
        const toast = document.getElementById("toast");
        toast.textContent = message;
        toast.className = `toast show ${type}`;

        setTimeout(() => {
          toast.classList.remove("show");
          toast.classList.add("hidden");
        }, 5000);
      }
    </script>
  </body>
</html>
