<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events : Rotaract Club Of TIT & science</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../Assets/Css/events.css" />
    <link rel="stylesheet" href="../Assets/Css/Responsive.css" />
    <link rel="stylesheet" href="../Assets/Css/joinUsOverlay.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <div class="club-logo">
          <img src="../Assets/Image/RAC-removebg-preview.png" alt="Logo" />
          <p class="title-logo">
            Rotaract Club Of <br />TIT & Science Bhopal, RID3040
          </p>
        </div>

        <nav class="nav-element">
          <div class="nav-list">
            <ul id="nav-list-elements">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/index.html">About</a></li>
              <li><a href="rotaractor.html">Rotaractors</a></li>
              <li><a href="#">Events and Projects</a></li>
              <li><a href="gallery.html">Gallery</a></li>
            </ul>
          </div>
          <hr id="separator" />
          <div id="nav-cta-btn">
            <button
              class="join-us-btn"
              id="showJoinUsFormBtn"
              aria-label="Join Us"
            >
              Join Us
            </button>
            <button class="donate-here" onclick="donate()">
              <i class="bx bxs-donate-heart"></i> Donate
            </button>
          </div>
        </nav>

        <div class="toggle-button" onclick="toggleMenu()">
          <i class="bx bx-menu-alt-right"></i>
        </div>
      </header>

      <div class="event-page-title-head">
        <h1>Events & Projects</h1>
        <p class="event-page-description">
          Explore our events and impactful projects that drive positive change
          in the community.
        </p>
      </div>

      <section id="buttons">
        <div class="event-button">
          <button id="show-events">Events</button>
          <button id="show-projects">Projects</button>
        </div>
      </section>

      <section id="event-section"></section>

      <section id="project-section">
        <!-- Aashitah : Food Distribution Drive -->
        <div class="project-details-container">
          <div class="aashitah">
            <div class="image">
              <img
                src="../Assets/Image/Aashita.png"
                class="project-image"
                alt="Aashitah"
              />
            </div>
            <div class="project-details">
              <h2 class="project-title">Aashitah : Food Distribution Drive</h2>
              <p class="project-description">
                Aashitah a food distribution drive embodied the spirit of
                compassion and service. The Rotaract Club of TIT & Science
                Bhopal RID 3040, continues to uphold its mission of service,
                fellowship, and leadership, and "Aashitah" is yet another
                testament to their unwavering dedication towards social causes.
              </p>
            </div>
          </div>
        </div>

        <!-- Tarupan : Tree Platation Drive -->
        <div class="project-details-container">
          <div class="tarupan">
            <div class="project-details">
              <h2 class="project-title">Tarupan : Tree Plantation Drive</h2>
              <p class="project-description">
                Tarupan focused on plantation, sustainability, and giving back
                to nature. In the event, members and volunteers gathered to
                plant saplings, water plants, and raise awareness about the
                importance of greenery and environmental conservation. It
                reflected RAC TIT & Science's commitment towards sustainable
                development and community service.
              </p>
            </div>
            <div class="image">
              <img
                src="../Assets/Image/Tarupan.png"
                class="project-image"
                alt="Tarupan"
              />
            </div>
          </div>
        </div>

        <!-- Matritva : Sanitary Distributive Drive -->
        <div class="project-details-container">
          <div class="matritwa">
            <div class="image">
              <img
                src="../Assets/Image/Matritva.png"
                class="project-image"
                alt="Tarupan"
              />
            </div>
            <div class="project-details">
              <h2 class="project-title">
                Matritva : Sanitary Distribution Drive
              </h2>
              <p class="project-description">
                "Matritav" is a dedicated drive to distribute sanitary pads and
                conduct an awareness session on menstrual hygiene. This
                initiative is a part of the club’s ongoing efforts to promote
                health equity and improve the quality of life for women in need.
              </p>
            </div>
          </div>
        </div>

        <!-- Kambal Rahat Ka : Blanket Distribution Drive -->
        <div class="project-details-container">
          <div class="kambal-rahat-ka">
            <div class="project-details">
              <h2 class="project-title">
                Kambal Rahat Ka : Blanket Donation Drive
              </h2>
              <p class="project-description">
                Kambal Raht was a blanket donation drive organized to help the
                needy during the harsh winters. The word "Kambal" means blanket
                and "Raht" means relief, so the event aimed at providing warmth
                and comfort to underprivileged people who struggle to
                survive cold nights.
              </p>
            </div>
            <div id="image">
              <img
                src="../Assets/Image/Kambal-Rahat-Ka.png"
                class="project-image"
                alt="Tarupan"
              />
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer-container">
          <div class="footer-column">
            <h3>Contact Us</h3>
            <ul>
              <li>
                <i class="bx bxs-envelope bx-md" style="color: #252525"></i
                ><a href="mailto:info@rotaracttitscience.com"
                  >info@rotaracttitscience.com</a
                >
              </li>
              <li>
                <i class="bx bxs-phone-call bx-md" style="color: #252525"></i>
                <p>+91 1234567890</p>
              </li>
              <li>
                <i class="bx bx-map bx-md" style="color: #252525"></i>
                <p>
                  Technocrats Institute Of Technology & Science, Bhopal, Madhya
                  Pradesh, India
                </p>
              </li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Social Media</h3>
            <div class="social-icons">
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><i class="bx bxl-facebook-circle bx-md"></i
              ></a>
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><i class="bx bxl-twitter bx-md"></i
              ></a>
              <a
                href="https://www.instagram.com/rotaractclub_titscience?igsh=ajdueHVqdnB5ZWt0"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bx bxl-instagram-alt bx-md"></i
              ></a>
              <a
                href="https://discord.gg/YjdWancvd9"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="bx bxl-discord-alt bx-md"></i
              ></a>
            </div>
          </div>
          <div class="footer-column">
            <h3>About Us</h3>
            <p>
              Rotaract Club of TIT & Science aims to foster leadership and
              service among young adults. We are dedicated to making a positive
              impact in our community.
            </p>
          </div>
        </div>
        <div class="footer-container">
          <div class="footer-column">
            <h3>Resources</h3>
            <ul>
              <li><a href="https://www.rotary.org">Visit Rotary</a></li>
              <li>
                <a href="https://www.rotary.org/en/get-involved/rotaract-clubs"
                  >Know more about Rotaract</a
                >
              </li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Newsletter</h3>
            <p>Subscribe to our newsletter for updates.</p>
            <input
              id="newsletter"
              type="email"
              placeholder="Enter your email"
            />
            <button id="newsletter-btn">Subscribe</button>
          </div>

          <div class="footer-column">
            <p id="developed-by">
              Made with <i class="bx bxs-heart"></i> <br />Designed and
              developed by <b>Praveen Patel</b>
            </p>
          </div>
        </div>
        <div class="copyright">
          &copy; 2025 Rotaract Club Of TIT & Science. All rights reserved.
        </div>
      </footer>

      <div id="joinUsformOverlay" class="overlay">
        <div class="form-container">
          <button id="closeFormBtn" class="close-btn" aria-label="Close Form">
            &times;
          </button>
          <div class="logo-placeholder">
            <img
              src="../Assets/Image/RAC-removebg-preview.png"
              id="logo-placeholder"
              alt="Logo"
            />
          </div>
          <p class="form-title">Rotaract Club Of TIT & Science</p>
          <p class="tagline">
            Make a difference, grow as a leader. Join Rotaract today!
          </p>
          <form id="myForm" onsubmit="return validateForm()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="What would we call you?"
                required
              />
              <span class="error-message" id="nameError"></span>
            </div>
            <div class="form-group">
              <label for="enrollment-no">Enrollment No:</label>
              <input
                type="text"
                name="contact"
                id="enrollment-no"
                placeholder="e.g. 0192CS23XXXX"
                required
              />
              <span class="error-message" id="enrollmentNoError"></span>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="e.g example@gmail.com"
                required
              />
              <span class="error-message" id="emailError"></span>
            </div>
            <div class="form-group">
              <label for="contact">Contact:</label>
              <input
                type="text"
                name="contact"
                id="contact"
                placeholder="e.g 97XXXXXX25"
                required
              />
              <span class="error-message" id="contactError"></span>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>

    <script src="../Assets/JavaScript/events.js"></script>
    <script src="../Assets/JavaScript/main.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const showFormBtn = document.getElementById("showJoinUsFormBtn");
        const formOverlay = document.getElementById("joinUsformOverlay");
        const closeFormBtn = document.getElementById("closeFormBtn");

        showFormBtn.addEventListener("click", function () {
          formOverlay.style.display = "flex";
        });

        closeFormBtn.addEventListener("click", function () {
          formOverlay.style.display = "none";
        });
        formOverlay.addEventListener("click", function (event) {
          if (event.target === formOverlay) {
            formOverlay.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>
