<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cards-container">
        <div class="left-card">
            <img src="#" alt="image" srcset="">
            <div class="overlay"></div>
        </div>
        <div class="right-card-container">
            <div class="top-image">
                <img src="#" alt="" srcset="">
            </div>
            <div class="view-more-card">
                <div class="flex-image-container">
                    <img src="#" alt="image" srcset="">
                    <img src="#" alt="image" srcset="">
                    <img src="#" alt="image" srcset="">
                    <img src="#" alt="image" srcset="">
                </div>
                <a href="http://">View More</a>
            </div>
        </div>
    </div>
</body>
</html>