<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotaractors : Rotaract Club Of TIT & science</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="..Assets/Css/Responsive.css">
</head>
<body>
    <main>
        <header>
            <div class="club-logo">
              <img src="../Assets/Image/RAC-removebg-preview.png" alt="Logo" />
              <p class="title-logo">
                Rotaract Club Of <br />TIT & Science Bhopal, RID3040
              </p>
            </div>
    
            <nav class="nav-element">
              <div class="nav-list">
                <ul id="nav-list-elements">
                  <li><a href="/index.html">Home</a></li>
                  <li><a href="/index.html">About</a></li>
                  <li><a href="#">Rotaractors</a></li>
                  <li><a href="/Components/event.html">Events and Projects</a></li>
                  <li><a href="#">Gallery</a></li>
                </ul>
              </div>
              <hr id="separator" />
              <div id="nav-cta-btn">
                <button class="join-us-btn" onclick="joinus()">Join Us</button>
                <button class="donate-here" onclick="donate()">
                  <i class="bx bxs-donate-heart"></i> Donate
                </button>
              </div>
            </nav>
    
            <div class="toggle-button" onclick="toggleMenu()">
              <i class="bx bx-menu-alt-right"></i>
            </div>
          </header>



    </main>
</body>
</html>