@font-face {
    font-family: 'Instrument Sans';
    src: url('/assets/font/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/font/Nunito/Nunito-VariableFont_wght.ttf');
}

:root {
    --default-font: "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    --heading-font: "Instrument Sans";
    --second-font: "Nunito";
}


main {
    padding: 20px 150px;
    font-family: var(--default-font);
}

.color {
    color: #00140a;
    font-weight: 600;
}

#about-us-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 20px 0px;
}

#about-us-hero-left {
    /* background-color: crimson; */
    width: 100%;
}

#about-us-hero-left-top {
    width: fit-content;
    border: 1px solid #a9c9b9;
    padding: 5px 8px;
    border-radius: 4px;
}

#about-us-hero-left-top p {
    font-family: var(--heading-font);
}

#about-us-hero-left-mid {
    margin-top: 15px;
}

#about-us-hero-left-mid h1 {
    font-size: 4rem;
    font-family: 'Instrument Sans';
    font-weight: 500;
    line-height: 1;
}

#about-us-hero-left-bottom {
    margin-top: 20px;
}

#about-us-hero-left-bottom p {
    color: #666666;
    font-family: 'Nunito';
}

#establish-btn {
    margin-top: 35px;
}

#establish-btn a {
    background-color: #001109;
    color: #c0d4ca;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-family: var(--heading-font);
}

#about-us-hero-right img {
    width: 400px;
}


/* Establish section */

#about-us-establish-section,
#our-ethics,
#faculty-saying-section {
    padding: 40px 0px;
}

#establish-year {
    font: 400 4rem 'Instrument Sans';
}

#about-us-extablish-section-container {
    display: flex;
    gap: 60px;
}

#about-us-extablish-section-container-left {
    width: 100%;
    height: 300px;
    background-color: #bebebe;
    border-radius: 12px;
    background-image: url('../Image/installation2018.jpg');
    background-position: center;
    background-size: cover;
}
#about-us-extablish-section-container-left img{
    width: 100%;
}

#about-us-extablish-section-container-right h2 {
    font-family: 'Instrument Sans';
    font-weight: 500;
}


.about-us-extablish-section-container-right-elem {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

#sponser-card,
#under-guidance-card {
    width: 100%;
    height: 220px;
    background-color: #bebebe;
    border-radius: 12px;
}

#our-ethics h1,
#faculty-saying-section h1 {
    font-family: 'Instrument Sans';
    text-align: center;
    font-weight: 500;
}

#our-ethics p {
    font-family: 'Nunito';
    text-align: center;
}

#our-ethics-elem {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.our-ethics-card {
    padding: 8px 15px;
}

#tagline {
    color: #666666;
}

.our-ethics-card #image {
    margin: 0px auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.our-ethics-card #image i {
    font-size: 80px;
    color: #05362fc0;
    animation: tada 1.5s ease-in-out;
}

@keyframes tada {
  0% { transform: scale(1); }
  10%, 20% { transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% { transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% { transform: scale(1.1) rotate(-3deg); }
  100% { transform: scale(1) rotate(0); }
}

.our-ethics-card h2 {
    font-family: 'Instrument Sans';
    font-weight: 600;
    text-align: center;
    color: #011a12;
}

.our-ethics-card p {
    font-family: 'Nunito';
    font-size: 14px;
    color: #666666;
}



#faculty-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.faculty-saying-card {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
}

.faculty-saying-card i {
    position: absolute;
    top: -0.1px;
    left: 1px;
    font-size: 20px;
    color: #555555;
}

.faculty-saying-card p {
    font-family: 'Nunito';
    font-size: 15px;
    margin-bottom: 8px;
    color: #00140a;
}

.faculty-saying-card h4 {
    font-family: 'Instrument Sans';
    font-weight: 500;
}

.faculty-saying-card h5 {
    font-family: 'Instrument Sans';
    font-weight: 200;
    color: #5c5c5c;
}



@media screen and (max-width: 768px) {
    main {
        padding: 0px 12px;
    }

    .color {
        color: #00140a;
        font-weight: 600;
    }

    #about-us-hero {
        flex-direction: column;
        padding: 20px 0px;
    }

    #about-us-hero-left {
        width: 100%;
    }

    #about-us-hero-left-top p {
        font-size: 14px;
        font-family: var(--heading-font);
    }

    #about-us-hero-left-mid {
        margin-top: 15px;
    }

    #about-us-hero-left-mid h1 {
        font-size: 2.5rem;
        font-family: 'Instrument Sans';
        font-weight: 500;
        line-height: 1;
    }

    #about-us-hero-left-bottom {
        margin-top: 20px;
    }

    #about-us-hero-left-bottom p {
        color: #666666;
        font-family: 'Nunito';
    }

    #about-us-hero-right img {
        display: none;
    }


    /* Establish section */
    #about-us-establish-section {
        margin-top: -80px;
        padding: 10px 0px;
    }

    #establish-year {
        font: 400 4rem 'Instrument Sans';
    }

    #about-us-extablish-section-container {
        flex-direction: column;
        gap: 20px;
    }

    #about-us-extablish-section-container-left {
        width: 100%;
        height: 200px;
        background-color: #bebebe;
        border-radius: 12px;
    }

    #about-us-extablish-section-container-right h2 {
        font-family: 'Instrument Sans';
        font-weight: 500;
    }

    #sponser-card,
    #under-guidance-card {
        width: 100%;
        height: 220px;
        background-color: #bebebe;
        border-radius: 12px;
    }

    /* Our ethics and values */

   
    #our-ethics h1,
    #faculty-saying-section h1 {
        font-family: 'Instrument Sans';
        text-align: center;
        font-weight: 500;
    }

    #our-ethics-elem {
        margin-top: 20px;
        overflow-x: scroll;
        gap: 8px;
    }

    .our-ethics-card {
        min-width: 220px;
        padding: 8px 10px;
    }

    #tagline {
        display: none;
    }


    #faculty-card-container {
        flex-direction: column;
    }

    .faculty-saying-card h4 {
        margin-top: 20px;
    }

    .faculty-saying-card h5 {
        font-family: 'Instrument Sans';
        font-weight: 200;
        color: #5c5c5c;
    }
}