@font-face {
    font-family: 'Instrument Sans';
    src: url('/assets/font/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Instrument Sans';
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #555;
}

form {
    margin-top: 2rem;
    width: 350px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    background: #fdfdfd;
    color: #333;
    font-weight: 500;
}

input::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 12px 0;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Message styling */
#loginMessage {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}