@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gruppo&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Send+Flowers&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
} */

.donate-overlay {
    display: none;  
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow-y: auto;
    padding: 10px 20px;
}

.donate-overlay-content {
    position: relative;
    background-color: #cee0e0;
    width: fit-content;
    /* max-width: 80%; */
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.overlay-header{
    width: 100%;
    display: none;
    justify-content: space-between;
    margin-bottom: 20px;
}
.overlay-header img{
    width: 60px;
}
.overlay-header .close-btn {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}
.flex-overlay{
    display: flex;
    align-items: stretch;
}

.qr-section{
    width: 55%;
    height: 100%;
    padding: 15px 30px;
}
.qr-img-container{
    width: 380px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}
.qr-img-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.account-details-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 12px;
}
.details-block{
    background-color: #88b4b4;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #cedbd7;
    border-radius: 10px;
}
.details-block:hover{
    background-color: #268383a8;
    transition: background-color 0.3s ease;
}
.details-title{
    font-family: 'Nunito', sans-serif;
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(1, 28, 29);
}
.details{
    font-size: 14px;
    font-weight: 500;
}


/* Donate form */
.form-container{
    width: 100%;
    padding: 15px;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #011b13;
    margin-bottom: 15px;
    width: 20rem;
    line-height: 24px;
}
.form-group input {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background-color: transparent;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #46a085;
    border-radius: 10px;
    font-size: 15px;
    transition: border-color 0.3s ease;
    outline: none;
    color: rgb(0, 31, 32);
}
#name{
    text-transform: capitalize;
}
#screenshot-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px dotted #46a085;
    border-radius: 12px;
    padding: 15px 10px;
    text-align: center;
}
.lable-for-screenshot{
    font: 500 14px 'Nunito', sans-serif;
    color: #011b13;
}
.for-screenshot{
    display: none;
    width: 100%;
    font: 500 14px 'Nunito', sans-serif;
}
.upload-here{
    font: 500 14px 'Nunito', sans-serif;
    width: 70%;
}
.submit-btn{
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #46a085;
    color: #011b13;
    font: 500 14px 'Poppins', sans-serif;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .donate-overlay-content {
        margin-top: 150px;
        width: 100%;
        padding: 10px;
    }
    .flex-overlay{
        flex-direction: column;
        align-items: center;
    }
    .qr-section{
        width: 100%;
        padding: 10px;
    }
    .qr-img-container{
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        padding: 10px;
    }
    .account-details-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .details-block{
        display: none;
        width: 100%;
    }
    .form-title{
        width: 100%;
        font-size: 14px;
    }
    .form-group input{
        font-size: 14px;
    }
    .submit-btn{
        font-size: 14px;
    }
    
}