@font-face {
    font-family: 'Instrument Sans';
    src: url('../font/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito/Nunito-VariableFont_wght.ttf');
}

:root {
    --default-font: "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    --heading-font: "Instrument Sans";
    --second-font: "Nunito";
}


main {
    font-family: var(--default-font);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: var(--default-font);
}

main {
    width: 100%;
}


#event-section {
    width: 100%;
    height: 100%;
    padding: 20px 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
}


.event-card {
    display: flex;
    justify-content: space-between;
    width: 360px;
    background-color: rgba(3, 48, 40, 0.966);
    overflow: hidden;
    border-radius: 12px;
    font-family: var(--heading-font);
    color: #e4fcf4;
}

#event-picture {
    width: 45%;
}

.event-card-left-container {
    padding: 10px;
}

.event-title {
    line-height: 1;
    margin-bottom: 5px;
}

.event-date,
.event-location {
    font-size: 13px;
    color: #f5fbfc70;
}

.event-description {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
    color: #e6e6e6c4;
}

.event-status {
    font-family: 'Nunito';
    font-size: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}



@media screen and (max-width: 768px) {
    #event-section {
        padding: 20px 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 10px;
    }

    .event-card {
        width: 180px;
        background-color: #e9e9e9f6;
        border-radius: 6px;
        color: #000a07;
    }

    #event-picture {
        display: none;
    }

    .event-status {
        margin-bottom: 8px;
    }

    .event-title {
        line-height: 1;
        margin-bottom: 5px;
    }


    .event-date,
    .event-location {
        font-size: 12px;
        color: #5f5f5ff3;
    }

    .event-description {
        font-size: 13px;
        color: #474747;
    }


}