@font-face {
  font-family: "Instrument Sans";
  src: url("../Assets/font/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("../Assets/font/Nunito/Nunito-VariableFont_wght.ttf");
}


/* Styles for the Overlay */
.join-us-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1000;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

/* Styles for the Form Container */
.join-us-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 400px;
    max-width: 92%;
}

/* Styles for the Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 7px;
}

.close-btn:hover {
    color: #0e0e0e;
}

/* Styles for Form Groups */
#logo-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1d1d1d;
    font-family: 'Poppins';
}

.tagline {
    color: #666;
    margin-bottom: 20px;
    margin-top: -10px;
    font-family: 'Nunito';
    font-size: 16px;
}

.join-us-form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 2px;
    margin-left: 8px;
    color: #272727;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

input[type="text"],
input[type="email"] {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background-color: transparent;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #46a085;
    border-radius: 10px;
    font-size: 15px;
    transition: border-color 0.3s ease;
    outline: none;
    color: rgb(0, 31, 32);
}

button[type="submit"] {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #1e6e56;
    color: #011b13;
    font: 500 14px 'Poppins', sans-serif;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #023d30;
    color: #fff;
}