@font-face {
    font-family: "Instrument Sans";
    src: url("../Assets/font/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf");
}


main {
    font-family: "Instrument Sans";
    height: 100vh;
}

.flex {
    display: flex;
    height: calc(100vh - 3rem);
}

form {
    width: 100%;
    height: 100vh;
    padding: 20px 90px;
    overflow-y: scroll;
}

#main {
    width: 120%;
    height: 100vh;
    padding: 40px 90px;
    background-color: rgb(1, 20, 16);
    position: relative;
}

#main-top {
    border-left: 20px solid #023d30;
}

#main-top img {
    width: 80px;
    margin-left: 8px;
}

#main h2 {
    color: white;
    font-size: 2rem;
    font-family: 'Instrument Sans';
    letter-spacing: 1px;
    margin-top: 12px;
    font-weight: 500;
}

#main-bottom {
    width: 100%;
    color: white;
    margin-top: 10rem;
}

#main-bottom h2 {
    font-family: 'Instrument Sans';
    font-weight: 500;
    margin-bottom: 10px;
}

#main-bottom p {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    color: #929292;
}

#main-bottom #know-more {
    font-size: 14px;
    color: #1b7548;
    cursor: pointer;
}

.form-title {
    font-size: 1.69rem;
    font-weight: 600;
    color: #1d1d1d;
    line-height: 1;
    margin-bottom: 10px;
}

.tagline {
    color: #666;
    margin-bottom: 30px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

label {
    display: block;
    color: #272727;
    font-size: 14px;
    position: absolute;
    left: 10px;
    padding: 0px 2px;
    transform: translateY(-165%);
    pointer-events: none;
    transition: transform 0.3s ease;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    font-weight: 400;
    font-family: 'Instrument Sans';
    background-color: transparent;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #949494;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;
    color: rgb(0, 31, 32);
}

input[type='text'] {
    text-transform: capitalize;
}

textarea {
    text-transform: none;
    resize: none;
}

input:focus+label,
input:valid+label {
    font-size: 12px;
    color: #023d30b2;
    transform: translateY(-330%);
    background-color: white;
}

input:valid {
    border-color: #5adbb4;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #1e6e56;
    color: #011b13;
    font: 600 16px 'Instrument Sans', sans-serif;
    cursor: pointer;
}

button:hover {

    background-color: #023d30;
    color: #fff;
}


@media screen and (max-width: 760px) {
    #main {
        display: none;
    }

    form {
        padding: 20px 10px;
        overflow-y: scroll;
    }
}