@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gruppo&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Send+Flowers&display=swap');


/* Styles for the Overlay */
.join-us-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

/* Styles for the Form Container */
.join-us-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 400px;
    max-width: 92%;
}

/* Styles for the Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 7px;
}

.close-btn:hover {
    color: #0e0e0e;
}

/* Styles for Form Groups */
#logo-placeholder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #1d1d1d;
    font-family: 'Poppins';
}

.tagline {
    color: #666;
    margin-bottom: 20px;
    font-family: 'Nunito';
    font-size: 16px;
}

.join-us-form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 2px;
    margin-left: 8px;
    color: #272727;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #46a085;
    color: #011b13;
    font: 500 14px 'Poppins', sans-serif;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #023d30;
    color: #fff;
}