@media screen and (max-width: 768px) {
    body{
        width: 100%;
        height: 100vh;
        font-family: var(--default-font);

    }
    header {
        padding: 25px 8px;
        height: 60px;
        background-color: rgb(223, 223, 223);
        box-shadow: 0px 2px 10px rgba(173, 173, 173, 0.993);
    }
    .club-logo>img{
        width: 40px;
    }
    .title-logo {
        display: none;
    }
    .nav-element {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0px;
        width: 60%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.932);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0px 10px;
        text-align: center;
        border-radius: 10px;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 2s ease-in-out, opacity 0.4s ease-in-out;
    }

    .nav-list ul {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        font-size: 16px;
    }

    .nav-element.active {
        display: grid;
        transform: translateX(0);
        opacity: 1;
    }

    .toggle-button {
        display: block;
        cursor: pointer;
        font-size: 38px;
        color: black;
    }
    
    .toggle-button:hover {
        color: #0e928c;
    }

    .hero-section{
        margin-top: 5rem;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    .hero-title>p{
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .hero-description>p{
        font-size: 14px;
        margin-bottom: 10px;
        text-align: justify;
    }
    .hero-stats{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .project-stats, .member-stats, .achievement-stats{
        margin-top: 1rem;
        width: 80%;
    }
    .about-section{
        padding-top: 20px;
        padding-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-section-title{
        font-size: 20px;
    }
    .about-section-details-list{
        display: none;
    }
    .about-section-description{
        margin-bottom: 15px;
    }
    .about-section-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-section-mission, .about-section-vision{
        width: 100%;
        margin-bottom: 15px;
    }
    .skills-section{
        padding: 10px 15px;
    }
    .skill-section-title{
        font-size: 18px;
        text-align: center;
    }
    .skill-section-tagline{
        text-align: justify;
    }
    .skill-section-cards{
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .skill-card{
        width: 100%;
    }
}
